body {
    background-color: #9b9b9b;
}

div {
    text-align: center;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.container {
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
}

.password-gnenrator-container {
    background-color: #2e2e2e;
    border-radius: 50px;
}

.Inner-container {
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
    padding: 20px;
    width: auto;
    height: auto;
    color: #F7F7F7;
}

.password-options {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    color: #F7F7F7;
}

.display-text {
    font-size: 20px;
}